# This file defines overall owners in repo
# depending on the pattern

# More about this config file here -> https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global
*       @amesa-dev @fer-tome @marcosoliveira-git @enriconavarro @mary-hg @rob-molero @deivi98 @JordiArmengol
